[submodule "packages/pyCrypto"]
	path = packages/pyCrypto
	url = https://github.com/dlitz/pycrypto.git
[submodule "packages/requests"]
	path = packages/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "packages/tornado"]
	path = packages/tornado
	url = https://github.com/facebook/tornado.git
[submodule "packages/mako"]
	path = packages/mako
	url = https://github.com/zzzeek/mako.git
