<div class="dz-preview dz-file-preview">
	<div class="dz-details">
		<div class="dz-filename">
			<img data-dz-thumbnail="" />
			<div>
				<span class="ic_data_name_holder" data-dz-name=""></span>
				(<span class="dz-size" data-dz-size=""></span>)
			</div>
		</div>
		<div class="ic_progress_holder">
			<div class="dz-progress">
				<span class="dz-upload" data-dz-uploadprogress=""></span> 
			</div>
			<span class="ic_progress_img" swap_a="true_icn.png" swap_b="false_icn.png"><img src="/web/images/false_icn.png" /></span>
		</div>
		<div class="dz-error-message"><span data-dz-errormessage=""></span>
	</div>
</div>