@font-face {
	font-family: 'lato-hairline';
	src: url('fonts/lato-hairline-webfont.eot');
	src: url('fonts/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/lato-hairline-webfont.woff') format('woff'),
		url('fonts/lato-hairline-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'lato-hairline-italic';
	src: url('fonts/lato-hairlineitalic-webfont.eot');
	src: url('fonts/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/lato-hairlineitalic-webfont.woff') format('woff'),
		url('fonts/lato-hairlineitalic-webfont.svg#webfont') format('svg');
}

@font-face {
	font-family: 'lato-regular';
	src: url('fonts/lato-regular-webfont.eot');
	src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/lato-regular-webfont.woff') format('woff'),
		url('fonts/lato-regular-webfont.svg#webfont') format('svg');
}

body {
	margin:0;
	padding:0;
	font-size:24px;
	font-family:'lato-hairline';
}

#header {
	width:100%;
	float:left;
	top:0;
	height:56px;
}

#header #header_ctrl {
	position:relative;
	float:right;
	color:#fff;
	top:-2em;
	margin-right:10px;
}

#ic_search {
	height:200px;
	width:100%;
	border:1px solid #000;
	clear:both;
	overflow:hidden;
	display:none;
}

#ic_search #search_clause_holder {
	overflow-y:auto;
	height:120px;
	margin-left:22%;
	padding-top:2px;
}

#ic_search #search_start {
	width:90%;
	height:200px;
	background-color:#b6b6b6;
}

#ic_search #search_submit {
	float:right;
	position:relative;
	top: -30px;
	margin-right:44px;
}

#content {
	z-index:1;
	position:relative;
	clear:both;
	overflow:hidden;
}

#content .ic_content_holder {
	font-family:'lato-regular';
	width:100%;
	margin:0px;
	padding:0px;
}

#content #ic_j3m_holder.ic_content_holder {
}

#content #ic_j3m_holder.ic_content_holder #map {
	height:400px;
}

#content #map .ic_content_holder {
	margin-bottom:40px;
}

#content #ic_opts {
	float:right;
	right:0;
	margin:10px 0;
}

#aux_popup {
	z-index:3;
	position:fixed;
	width:80%;
	border:1px solid #000;
	height:540px;
	top:10%;
	left:10%;
	display:none;
	background-color:#fff;
	overflow:hidden;
}

#aux_popup div, #aux_popup ul, #aux_popup p {
	margin:10px;
}

#aux_popup #ic_bad_login_holder, #aux_popup #ic_bad_logout_holder {
	padding:0 10px;
	margin:0 10px;
	display:none;
}

#footer {
	position:fixed;
	height:inherit;
	width:auto;
	bottom:0;
	z-index:2;
	font-size:0.9em;
	margin-bottom:10px;
	right:0;
	float:right
}

h1, h2, h3 {
	margin-top:0;
	margin-bottom:0px;
	color:#fff;
	background-color:#292929;
	font-weight:bold;
	padding:2px;
	font-family:'lato-hairline';
}

h2
{
	background-color:#cccccc;
	color:#292929;
}

h4, h5 {
	margin:0;
	padding:2px;
	font-family:'lato-hairline';
	font-weight:bold;
}

p {
	font-size:0.8em;
}

#content .ic_content_holder .ic_as_list {
	font-size:0.7em;
}

#content .ic_content_holder .ic_status_label {
	font-size:1em;
}

#aux_popup h3 {
	padding-left:10px;
}

a {
	text-decoration:none;
	cursor:pointer;
	font-family:'lato-regular';
}

#header a, #header a:hover {
	color:#fff;
	font-family:'lato-hairline';
}

#footer a, #aux_popup #admin_saved_searches_holder ul li a {
	color:#292929;
}

#footer a:hover, #aux_popup #admin_saved_searches_holder ul li a:hover {
	color:#b6b6b6;
}

#content .ic_content_holder a {
	color: #09bdff;
	font-weight:bold;
}

#content .ic_content_holder a.linkable {
	color: #9bd0ff;
	font-weight:normal;
}

#content .ic_content_holder a.linkable:hover {
	color: #09bdff;
	font-weight:normal;
}

#content #ic_opts a {
	font-size:0.5em;
	font-weight:normal;
	color:#000000;
	background-color:#cbdde6;
	border:1px solid #a0c2d3;
}

input, select {
	font-size:0.8em;
	font-family:arial;
	color:#4d4d4d;
	border:1px solid #4d4d4d;
}

.ic_clause_params_holder .ic_button {
	margin:0 6px;
}

.ic_clause_params_holder {
	margin-top:6px;
}

.ic_button {
	padding:2px 4px;
	cursor:pointer;
}

.ic_panel_header {
	background-color:#cbdde6;
	border:1px solid #a0c2d3;
	padding:4px;
	display:block;
	width:98%;
}

.ic_error {
	background-color:#ffbeaf;
	border:1px solid #ff7462;
	font-family: 'lato-hairline-italic';
}

.ic_note_bene {
	background-color:#fff39b;
	border:1px solid #ffc232;
	font-family:'lato-hairline';
	padding:10px;
	margin-bottom:10px;
}

.unused {
	background-color:#999;
	color:#ccc;
}

#aux_popup .ic_exit {
	float:right;
	font-size:0.6em;
	padding-right:4px;
}

.ic_selected {
	background-color:#b6b6b6;
	color:#4d4d4d;
}

.ic_negate {
	color:#4d4d4d;
	background-color:#ffbe99;
}

.ic_label {
	font-weight:bold;
}

#footer ul {
	list-style-type:none;
	margin:4px;
	padding:0;
}

#footer ul li {
	float:left;
	margin:0 6px;
}

#content ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#content ul.ic_list_vertical li {
	padding: 2px 0 0px 0;
}

#content ul.ic_list_grid li {
	float:left;
	padding: 4px;
	margin:0 6px;
}

ul.ic_panel_ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.ic_panel_ul li {
	margin:0 0 16px 0;
}

#aux_popup #admin_saved_searches_holder ul {
	list-style-type:none;
	margin:0 10px;
	padding:0;
}

#aux_popup #admin_saved_searches_holder ul li {
	margin-bottom:8px;
}

#aux_popup #admin_saved_searches_holder ul li a div {
	font-size:0.7em;
}

.ic_thumb {
	width:100px;
	height:100px
}

.ic_icon {
	width:20px;
}

#ic_submission_thumb {
	width:200px;
	float:right;
	position:fixed;
	right:20px;
}

#ic_submission_thumb img {
	width:inherit;
}

#ic_submission_info
{
background-color:#eeeeee;
border:1px solid #cccccc;
padding:3px;
width:100%;
margin:0px;
margin-top:0px;
margin-bottom:12px;
text-align:center;
}

.ic_item_box
{
	float: left;
	width: 31%;
	margin-right:12px;
	margin-bottom:24px;
	padding:6px;
}

.ic_map_box
{
	height:400px;
	width:50%;
}

#logo_icon
{
 margin:3px;
 height:42px;
 width:42px;
vertical-align:top;
}

.ic_search_result
{
	float: left;
	margin:6px;
	padding:6px;
	background-color:#eee;
}
