<script>
	function doLogout() {
		if(u_user != null && u_user != undefined) {
			$.ajax({
				url : "/logout/",
				type: "POST",
				dataType: "json",
				headers: {
					'X-XSRFToken': getCookie("_xsrf")
				},
				success: function(json) {
					if(json.ok) {
						localStorage.clear();
						u_user = null;
						window.location = '/';
					} else {
						$("#ic_bad_logout_holder").css('display','block');
					}
				}
			});
		}
	}
</script>

<h3>Logout <a class="ic_exit" rel="aux_popup">[x]</a></h3>
<p>
	<a class="ic_button" onclick="toggleElement('#ic_password_holder');">Save my data?</a>  Or <a class="ic_button" onclick="doLogout();">just log out?</a>
</p>

<div id="ic_password_holder" style="display:none;">
	<p>Password: <input type="password" id="ic_password" /> <a onclick="u_user.saveDataAndLogout();" class="ic_button ic_note_bene">Submit</a></p>

	<div class="ic_error" id="ic_bad_logout_holder">
		<p>Sorry, we could not save your data.  Please try again!</p>
	</div>
</div>