<h3>Login <a class="ic_exit" rel="aux_popup">[x]</a></h3>
<form id="login-form">
	<p>Username: <input type="text" id="ic_username" /></p>
	<p>Password: <input type="password" id="ic_password" /></p>
	<div class="ic_error" id="ic_bad_login_holder">
		<p>Sorry, we could not log you in.  Please try again!</p>
	</div>
	<input type="submit" class="ic_button ic_note_bene"
		style="margin-left:10px;" value="Submit"/>
</form>


<script>
$(document).ready(function() {
	setTimeout(function() {$('#ic_username').focus();}, 10);

	var form = $('#login-form');
	form.submit(function (ev) {
		$.ajax({
			url : "/login/",
			dataType: "json",
			type: "POST",
			data: {
				username: $("#ic_username").val(),
				password: $("#ic_password").val()
			},
			success: function(json) {
				if(json.ok) {
					localStorage.setItem('user', JSON.stringify(json.user));
					window.history.back();
					window.location.reload();
				} else {
					$("#ic_bad_login_holder").css('display','block');
				}
			}
		});

		ev.preventDefault();
	});
});
</script>