<script>
	var downloadOptions = (function() {	
		$("#ic_submission_info").append(
			$(document.createElement('div'))
				.css({
					'padding' : '3px 0 20px 3px',
					'margin' : 12,
					'float': 'left',
					'font-size' : '1.5em',
					'text-align' : 'left',
					'width' : '100%'
				})
				.attr('class', 'ic_opts')
				.append(
					$(document.createElement('a'))
						.html("Download Media")
						.attr({
							'class':'ic_button',
							'href' : window.location.pathname + "media/orig/",
							'target' : '_blank',
							'download' : window.location.pathname.split("/")[2] + ".jpg"
						})
						.css('margin-right', 6)
				)
				.append(
					$(document.createElement('a'))
						.html("View J3M Metadata")
						.attr({
							'class':'ic_button',
							'href' : window.location.pathname + "#j3m"
						})
						.css('margin-right', 6)
				)
				.append(
					$(document.createElement('div'))
						.css('display', 'inline')
						.append(
							$(document.createElement('a'))
								.html("Download J3M As...")
								.attr('class','ic_button')
						)
						.append(
							$(document.createElement('ul'))
								.attr('id', 'ic_download_options_holder')
								.append([
									$(document.createElement('li'))
										.append(
											$(document.createElement('a'))
												.html('json')
												.attr({
													'href' : window.location.pathname + "j3m/",
													'target' : '_blank',
													'download' : window.location.pathname.split("/")[2] + ".json"
												})
										),
									$(document.createElement('li'))
										.append(
											$(document.createElement('a'))
												.html('csv')
										),
									$(document.createElement('li'))
										.append(
											$(document.createElement('a'))
												.html('tsv')
										),
									$(document.createElement('li'))
										.append(
											$(document.createElement('a'))
												.html('html')
										)
							])
						)
				)
		);
	});
	
	if(onDataLoaded.indexOf("downloadOptions") == -1) {
		onDataLoaded.push("downloadOptions");
		downloadOptions();
	}
</script>